@model IEnumerable<PatientInfoPortal.Shared.Dtos.PatientsInformationDto>

@{
    ViewData["Title"] = "Patients";
}


<div class="row">
    <div class="col">
        <h1>Patients</h1>
    </div>
</div>
<div class="row">
    <div class="col">
        <a asp-action="Create" class="btn btn-success">Create New</a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disease.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Epilepsy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Disease.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Epilepsy)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-primary">Details</a>|
                    <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-primary">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

